@{
    ViewData["Title"] = "Home Page";
}

<script src="~/js/jquery.min.js"></script>


@*   <h1>
        <span>
            <i style="margin-right: 10px; font-size: 48px"
               class="fa-solid fa-xmark"></i>
        </span>
        Bandage
    </h1> *@
<div class="products" id="_blogs">
    @*  <div class="product">
    <h2>Bandage1</h2>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
    nostrum.
    </p>
    <!-- img comes here -->
    <!-- delete imgDummy div and add your own image -->
    <div class="imgDummy"></div>
    <div class="badge">
    <i style="color: red" class="fa-solid fa-angle-right"></i>
    </div>
    </div>
    <div class="product">
    <h2>Bandage1</h2>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
    nostrum.
    </p>
    <!-- img comes here -->
    <!-- delete imgDummy div and add your own image -->
    <div class="imgDummy"></div>
    <div class="badge">
    <a href="#">
    <i style="color: red" class="fa-solid fa-angle-right"></i>
    </a>

    </div>
    </div>
    <div class="product">
    <h2>Bandage1</h2>
    <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Est,
    nostrum.
    </p>
    <!-- img comes here -->
    <!-- delete imgDummy div and add your own image -->
    <div class="imgDummy"></div>
    <div class="badge">
    <i style="color: red" class="fa-solid fa-angle-right"></i>
    </div>
    </div> *@
</div>
@* </section> *@
<script>
    let param = getParam('id');
    getBlogs(param);

    function getBlogs(id) {
        // id = id == -1 ? window.localStorage.getItem('catId') : 0;
        $.ajax({
            dataType: "json",
            url: '/Home/GetAllBlogs/' + id,
            data: {},
            success: function (result) {
                let html = '<h1>Blogs</h1>';
                if (result.data.length == 0) {
                    html += '<div class="card product mt-3">'
                        + '<h2>Data Not Found</h2></div>';
                }
                for (let i = 0; i < result.data.length; i++) {
                    html += '<div class="card product mt-3">'
                        + '<div class="row">'
                        + '<div class="col-md-8"> '
                        + '<h2>' + result.data[i].headline + '</h2>'
                        + '<p>' + result.data[i].description + '</p>'
                        + '</div>'
                        + '<div class="col-md-4"> '
                        + '<div class="badge" >'
                        + '<a href="/home/BlogDetails/' + result.data[i].id + '">'
                        + '<i style="color: red" class="fa-solid fa-angle-right"> </i>'
                        + '</a>'
                        + '</div>'
                        + ' <img src="/Image/' + result.data[i].imageOne + '" alt="Jane" style="width:100%">'
                        + '</div>'

                        + '</div></div>'
                       +'</div>';
                }
                $("#_blogs").html(html);
            },
            error: function (xhr) {
            }
        });

    }

    function getParam(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>