@{
    ViewData["Title"] = "AboutUs";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}



<div class="product" style="background-color:white;">
    <h1>AboutUs</h1>

    <div class="row">
        <div class="col-md-6">
            <img src="/Image/aboutus.jpg" style="width:50%;" />
        </div>
        <div class="col-md-6">
            <p style="color:black;">Here is a man with great respect for wood and handcrafted sculptures that “tell a story and testify to the richness of one of our most precious resources.”</p>
        </div>
    </div>


</div>

