@model BandagingWebApplication.Models.UserViewModel

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<script src="~/js/jquery.min.js"></script>
<h1>Change Password</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ChangePassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-3">
                <label asp-for="OldPassword" class="control-label"></label>
                <input asp-for="OldPassword" id="old-pass" type="password" class="form-control" />
                <input type="text" id="pass" value="@Html.DisplayFor(model => model.OldPassword)" hidden class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" id="new-pass" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <label asp-for="RetypePassword" class="control-label"></label>
                <input asp-for="RetypePassword" id="retype-pass" type="password" class="form-control" />
                <span asp-validation-for="RetypePassword" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <input type="submit" id="saveButton" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script>

    $("#retype-pass").on("focusout", function () {
        let Pass = $("#new-pass").val();
        let newPass = $(this).val();

        let oldPass = $('#old-pass').val();
        let pass = $('#pass').val();

        console.log(Pass + '   ' + newPass);
        let btnShow = true;
        if (Pass != newPass) {
            alert('New Password does not match');
            btnShow = false;
            $('#saveButton').hide();
            return;
        }

        if (pass != oldPass) {
            alert('Old Password does not match');
            btnShow = false;
            $('#saveButton').hide();
            return;
        }
        if (btnShow) {
            $('#saveButton').show();
        }


    });

    $("#old-pass").on("focusout", function () {
        let oldPass = $(this).val();
        let pass = $('#pass').val();
        console.log(pass + '   ' + oldPass);
        let btnShow = true;

        if (pass != oldPass) {
            alert('Old Password does not match');
            btnShow = false;
            $('#saveButton').hide();
            return;
        }

        if (btnShow) {
            $('#saveButton').show();
        }


    });

</script>


